/* ----------------- */
/*  Universal Rules  */
/* ----------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* * {border:1px solid red} */


/* ------------ */
/*  Main Rules  */
/* ------------ */

/* TODO: Max size of card */
body {
  /* min-height: 100vh; */
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(221, 255, 198);
  margin: 100px;

  display: flex;
  flex-direction: column;
}

#card {
  background-color: antiquewhite;
  border-style: solid;
  border-color: rgb(192, 174, 140);
}

#content {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 16px;
  gap: 10px;
}

#header, #footer, #quick-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
}

#header {
  border-bottom: solid;
  border-color: rgb(192, 174, 140);
}

#footer {
  border-top: solid;
  border-color: rgb(192, 174, 140);
}

#title {
  display: flex;
  align-items: center;
}

#navigation {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


/* ------------ */
/*  Misc Rules  */
/* ------------ */

a {
  color: blue;
}

ul {
  list-style-type: none;
}

/* a {
  text-decoration: none;
} */
